body {
  font-family: "Poppins", sans-serif;
}

/* Spacing */
.hero {
  height: 700px;
}

.text-primary-style{
 color:  #FF8A00
 
}
.text-secondery-style{
  color:  #5B5B5B
 }
/* Button */
.btn-solid-primary {
  border: none;
  background-color: #ff8a00;
  font-size: 15px;
  font-weight: 500;
  border-radius: 16px;
  padding: 16px 32px;
}

.btn-solid-primary:hover {
  background-color: #c76b03;
}

.btn-solid-primary:active {
  background-color: #c76b03 !important;
}

.btn-outline-primary {
  border-radius: 16px;
  border: 1px solid #ff8a00;
  color: #ff8a00;
  font-size: 15px;
  font-weight: 500;
  padding: 10px 24px;
}

.btn-outline-primary:hover {
  background-color: #ff8a00;
}

.btn-outline-primary:active {
  background-color: #ff8a00 !important;
}

.header-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../assets/hero/header.png);
}
.hero-banner {
  height: 732px;
}

.banner-bg {
  background: url(../assets/banner/banner.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.social-bg {
  background: #fafafc;
}

.card-sevices {
  border-radius: 12px;
  background: var(--white, #fff);
  box-shadow: 0px 6px 29px 0px rgba(0, 0, 0, 0.08);
}

.testimonial-img {
  width: 55px;
  height: 55px;
  object-fit: cover;
}

.social-icon img{
  width: 70px;
  height: 70px;
  object-fit: cover;
  display: block;
 margin-left: 52px;
}

@media only screen and (max-width: 576px) {
  .w-sm-100 {
    width: 100% !important;
  }
}
